@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Quicksand&display=swap');

/*********************************** 
             Padrão 
***********************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Quicksand', sans-serif;
}

body {
    background: url(../img/Fundo-azul.svg) no-repeat;
    background-position: top right;
    background-size: 55%;
} 

/******* Layout *******/

#interface {
    padding: 1%;
    margin: 0 4%;   
    display: grid;
    grid-template-areas: "a a" "b c";
}

.grid1 {
    grid-area: a;
    min-height: 30vh;
}

.grid2 {
    grid-area: b;
    width: 75%;
}

.grid3 {
    grid-area: c;
}

/*********************************** 
                NAV
***********************************/

#barra-superior {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#menu {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#logo {
    width: 50%;
}

#lista-navegacao {
    display: flex;
    width: 50%;
    align-items: baseline;
    justify-content: space-around;
    list-style-type: none;
}

#lista-navegacao li {
    color: white;
    font-weight: 900;
    font-size: 24px;

}

#lista-navegacao > #entrar {
    background-color: #ECA400;
    padding: 7px 36px;
    border-radius: 12px;
    text-shadow: 0px 1px 1px rgb(150,150,150);
    box-shadow: 0px 2px 10px rgb(50,50,50);
    text-decoration: none;
    color: white;
}

/*********************************** 
                CORPO
***********************************/

#titulo1 > h1{
    font-size: 46px;
    line-height: 54px;
    margin-bottom: 3%;
}

#titulo1 > p:first-of-type {
    font-size: 27px;
    font-weight: 100;
    margin-bottom: 3%;
    color: rgb(75, 75, 75);
}

#titulo1 > p:last-of-type {
    color: #00A896;
    font-size: 22px;
}

#photo-inicial {
    width: 90%;
    transform: translateY(-60px);
}





/*********************************** 
            A PARTE
***********************************/

.help-local {
    font-size: 46px;
    font-family: 'Fredoka One';
    font-weight: 100;
}

.verde {
    color: #00A896;
}

.azul {
    color: #3D6CB9;
}




/*********************************** 
            MEDIA QUERIES
***********************************/